<h1>Add a new Board</h1>

<%= form_for([current_user, @board]) do |f| %>

<%= f.label :description %>
<%= f.text_field :description, placeholder:"Board description" %>

<%= f.label :price %>
<%= f.text_field :price, placeholder:"Price per timeslot" %>

<%= f.select :category, @categories %>

<%= f.submit %>
<% end %>

